{% extends 'components/base.html' %}

{% block title %}Vote{% endblock %}

{% block content %}
    <div class="answers-container">
        <h1 class="page-title">Form page</h1>
        <p class="answers-header">Your answers:</p>
        <ul class="answers-list">
            <li class="answer-item">
                <strong class="field-name"> Name</strong> 
                <span class="field-answer">{{ userdata['name'] }}</span>
            </li>
            <li class="answer-item">
                <strong class="field-name"> Gender</strong> 
                <span class="field-answer">{{ userdata['gender'] }}</span>
            </li>
            {% for field in f %}
                <li class="answer-item">
                    <strong class="field-name">{{ field.question if field.question != "" else field.name }}:</strong> 
                    <span class="field-answer">{{ field.answer }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}